* {
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-variant: small-caps;
  font-weight: 600;
}
body {
  background-color: grey;  
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  /* background: url(./assets/bg.jpg); */
}
h1 {
  font-size: 4rem;
}
.eventBox {
  background-color: gray;
  border: 2px solid black;
  min-width: 20vw;
  height: 500px;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
}
.eventBox:hover {
  background-color: gold;
  box-shadow: 10px 10px;
  transform: translate(5px, 5px);
}
button, input{
  cursor: pointer;
  text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
}
button {
  margin: 10px auto;
  border: 5px solid black;
}
button:hover {
  color: white;
  background-color: black;
}
input {
  max-width: 90%;
  border: 2px solid black;
  margin: 5px;
}
input:focus {
  background-color: gold;
}
.center {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
}
.center>div {
  flex: 1;
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
}
.center>div:hover {
  background-color: gold;
  cursor: pointer;
}